.appbar-btn {
  color: white !important;
  top: 5px;
}
.appbar-links {
  margin-top: -5px;
}

#main-bar {
  top: 0px !important;
  position: fixed !important;
}

#search-bar {
  top: 0px !important;
  position: fixed !important;
  background-color: #fff !important;
}
